body {
    background-image: url('https://media.istockphoto.com/photos/money-currency-symbol-hanging-on-wooden-background-picture-id613218394?k=6&m=613218394&s=612x612&w=0&h=X4c2w3TNtc5rxM7DN1YkDj-bBGhKnHB0KUCqH4jdfYQ=');
    font-family: Arial;
    background-repeat: no-repeat;
    background-size: auto;
}